@keyframes pulse {
    0% {
        transform: scale(1); /* Original size */
    }
    50% {
        transform: scale(1.1); /* Slightly larger */
    }
    100% {
        transform: scale(1); /* Back to original size */
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
        transform: rotate(360deg); /* End at 360 degrees */
    }
}

.animate{
    animation: pulse 1s infinite, spin 4s infinite linear;
}

/*#mic{*/
/*    color: white;*/
/*    background-color: white;*/
/*}*/